<!DOCTYPE html>
{% load static %}
{% include "head.html" %}

<body>
	{% include "header.html" %}
	<section id="order">
		<div class="container">
			<div class="order">
				<div class="order__block">
					<div class="order_items">
						<div class="title">Оформление доставки</div>
						<div><p>{{ bouquet.name }}: {{ bouquet.price }} руб</p></div>
						<form class="order__form" action="https://yookassa.ru/integration/simplepay/payment" method="post" accept-charset="utf-8">
							<div class="order__form_block ficb">
								<input type="text" name="fname" class="order__form_input" placeholder="Введите Имя" required>
								<input type="text" name="tel" class="order__form_input" placeholder="+ 7 (999) 000 00 00" required>
								<input type="text" name="adres" class="order__form_input" placeholder="Адрес доставки" required>
							</div>
							<div class="order__form_block ficb">
								<input type="text" name="email" class="order__form_input" placeholder="email" required>
							</div>
							<div class="order__form_btns fic">
								{% for interval in time_intervals %}
									<div class="order__form_radioBlock ">
										<input type="radio" name="orderTime" id="radio{{ interval.id }}" value="{{ interval.description }}" class="order__form_radio" />
										<label for="radio{{ interval.id }}" class="radioLable">{{ interval.description }}</label>
									</div>
								{% endfor %}
							</div>
							<div class="order__form_line"></div>
							<div class="order__form_btns ficb">
								<link rel="stylesheet" href="{% static "css/umoney.css" %}">
								<button class="btn order__form_pay">Оплатить</button>
								<button class="btn order__form_btn" onclick="window.location.href='{% url "indexpage" %}'">Назад</button>
								<input name="shopId" type="hidden" value="237136">
								<input value="" type="hidden" name="ym_merchant_receipt">
								<div class="ym-input-icon-rub ym-display-none">
									<input name="sum" placeholder="0.00" class="ym-input ym-sum-input ym-required-input ym-display-none" type="number" step="any" value="{{ bouquet.price }}">
								</div>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
		<img src={% static "img/orderImg.jpg" %} alt="orderImg" class="order__img">
	</section>
	{% include "footer.html" %}
	<script>
		document.querySelector('input[type=radio]').onclick = function(e) {
			// e.preventDefault()
			// console.log(e.target)
			console.log(e.target.value)
		}
	</script>
</body>
</html>