<!DOCTYPE html>
{% load static %}
{% include "head.html" %}
<body>
	{% include "header.html" %}
	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
					<a href="/" class="quiz__back_link fic"><img src="{% static "img/arrow-left.svg" %}" alt="arrow-left" class="arrowLeft">
					<span class="quiz__back_intro">Назад</span></a>
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">К какому событию нужен букет?</h1>
					<div class="quiz__elems fic">
						<form id="holiday" method="get"></form>
						{% csrf_token %}
						{% for holiday in holidays %}
							<button class="quiz__elem" form="holiday" name="event" value="{{ holiday }}">{{ holiday }}</button>
						{% endfor %}
					</div>
					<script src="{% static "btn.js" %}"></script>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">1</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">2</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineActive"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>